<html>
    <head>
        <title>Ansible</title>
    </head>
    
    <body bgcolor="black">
        <center>
            <br><br>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjT97odyu6ozeww7Jk3C3qk-zeFEzpFLIqhg&usqp=CAU" />
            <br>
            <h1><b><p style="color: gold;">I AM {{ ansible_hostname }}</p></b></h1>
            <h1><b><p style="color: gold;">Ansible Task</p></b></h1>
            <h1><p style="color: ivory;">Created a LoadBalancer and Dynamically Register WebServer IPs to it using Ansible</p></h1>
        </center>
    </body>
</html>